
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a ng-click="panel.isSSLCollpsed = !panel.isSSLCollpsed">Lets Encrypt (SSL)</a>
      <span class="fa fa-check pull-right" ng-show="{{admin.CONFIG_DB.letsencrypt_challenge}}"></span>
    </h4>
  </div>

  <div class="panel-body" uib-collapse="panel.isSSLCollpsed">
    <div class="form-group">
      <label class="control-label" for="letsencrypt_challenge">Let's Encrypt Challenge</label>
      <small class="text-muted">(optional)</small>
      <input ng-model="admin.CONFIG_DB.letsencrypt_challenge" id="letsencrypt_challenge" name="letsencrypt_challenge" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label class="control-label" for="letsencrypt_response">Let's Encrypt Response</label>
      <small class="text-muted">(optional)</small>
      <input ng-model="admin.CONFIG_DB.letsencrypt_response" id="letsencrypt_response" name="letsencrypt_response" class="form-control" type="text">
    </div>

    <p class="help-block">
      For more information follow the
      <a href="http://docs.gae-init.appspot.com/howto/#letsencrypt" target="_blank">instructions</a>.
    </p>
  </div>
</div>
