<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a ng-click="panel.isRecaptchaCollapsed = !panel.isRecaptchaCollapsed">reCAPTCHA</a>
      <span class="fa fa-check pull-right" ng-show="{{admin.CONFIG_DB.recaptcha_public_key}}"></span>
    </h4>
  </div>

  <div class="panel-body" uib-collapse="panel.isRecaptchaCollapsed">
    <div class="form-group">
      <label class="control-label" for="recaptcha_public_key">Public Key</label>
      <small class="text-muted">(optional)</small>
      <input ng-model="admin.CONFIG_DB.recaptcha_public_key" id="recaptcha_public_key" name="recaptcha_public_key" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label class="control-label" for="salt">Private Key</label>
      <small class="text-muted">(optional)</small>
      <input ng-model="admin.CONFIG_DB.recaptcha_private_key" id="recaptcha_private_key" name="recaptcha_private_key" class="form-control" type="text">
    </div>

    <p class="help-block">
      More info on <a href="https://www.google.com/recaptcha/admin" target="_blank">reCAPTCHA</a>
    </p>
  </div>
</div>
