<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a ng-click="panel.isSecurityCollapsed = !panel.isSecurityCollapsed">Security</a>
      <span class="fa fa-check pull-right" ng-show="{{admin.CONFIG_DB.flask_secret_key}}">></span>
    </h4>
  </div>

  <div class="panel-body" uib-collapse="panel.isSecurityCollapsed">
    <div class="form-group">
      <label class="control-label" for="flask_secret_key">Flask Secret Key</label>
      <small class="text-muted">(optional)</small>
      <input ng-model="admin.CONFIG_DB.flask_secret_key" id="flask_secret_key" name="flask_secret_key" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label class="control-label" for="salt">Salt</label>
      <small class="text-muted">(optional)</small>
      <input ng-model="admin.CONFIG_DB.salt" id="salt" name="salt" class="form-control" type="text">
    </div>

    <p class="help-block">
      Read more about
      <a href="http://flask.pocoo.org/docs/quickstart/#sessions" target="_blank">Flask secret key</a> and
      <a href="http://en.wikipedia.org/wiki/Salt_(cryptography)" target="_blank">salt in cryptography</a>.
    </p>
  </div>
</div>
