<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ng-click="header.goto(header.buttons.welcome.url)" class="navbar-brand">
        {{header.CONFIG_DB.brand_name}}
      </a>
    </div>

    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="{{header.buttons.feedback.active}}" ng-show="header.CONFIG_DB.feedback_email">
          <a ng-click="header.goto(header.buttons.feedback.url)">
            <span class="fa fa-comment"></span> Feedback
          </a>
        </li>
      </ul>

      <!-- Show only if user is signed in -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ng-click="header.openSigninModal()">
            <span class="fa fa-sign-in"></span> Sign in
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
