
<div class="row">
  <div class="col-md-12">
    <a href="/" class="close-btn pull-right">
      <span class="fa fa-times fa-3x"></span>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4><span class="text-muted">Title</span> {{ctrl.song_db.name}}</h4>
    <h4><span class="text-muted">Artist</span> {{ctrl.song_db.artist}}</h4>
    <h4><span class="text-muted">Harp type</span> {{ctrl.song_db.harp_type}}</h4>
    <h4><span class="text-muted">Key</span> {{ctrl.song_db.harp_key}}</h4>
    <pre>
      {{ctrl.song_db.tab}}
    </pre>
  </div>
</div>
