<script type="text/javascript">
  # if user_db
    window.user_db = JSON.parse('{{user_db|tojson}}');
  # endif

  # if config_db
    window.config_db = JSON.parse('{{config_db|tojson}}');
  # endif
</script>

# if config.DEVELOPMENT
  <script src="/p/dev/script/ext.js?{{config.CURRENT_VERSION_ID}}"></script>
  <script src="/p/dev/script/script.js?{{config.CURRENT_VERSION_ID}}"></script>
  <script src="/p/dev/script/templates.js?{{config.CURRENT_VERSION_ID}}"></script>
  <script src="http://{{request.host.split(':')[0]}}:35729/livereload.js"></script>
# else
  <script src="/p/min/script/ext.js?{{config.CURRENT_VERSION_ID}}"></script>
  <script src="/p/min/script/script.js?{{config.CURRENT_VERSION_ID}}"></script>
  <script src="/p/min/script/templates.js?{{config.CURRENT_VERSION_ID}}"></script>
# endif
