<script type="text/javascript" id="config-db">
  // When angular copies these values it removes em from window obj.
  window.flask_data = {};
  # if config_db
    window.flask_data.config_db = JSON.parse('{{config_db|tojson}}');
  # endif
  window.flask_data.auth_urls = {
    bitbucket_signin_url: '{{bitbucket_signin_url}}',
    dropbox_signin_url: '{{dropbox_signin_url}}',
    facebook_signin_url: '{{facebook_signin_url}}',
    github_signin_url: '{{github_signin_url}}',
    google_signin_url: '{{google_signin_url}}',
    gae_signin_url: '{{gae_signin_url}}',
    instagram_signin_url: '{{instagram_signin_url}}',
    linkedin_signin_url: '{{linkedin_signin_url}}',
    microsoft_signin_url: '{{microsoft_signin_url}}',
    twitter_signin_url: '{{twitter_signin_url}}',
    vk_signin_url: '{{vk_signin_url}}',
    yahoo_signin_url: '{{yahoo_signin_url}}'
  }
</script>

<!-- The development scripts are generated automatically from gulp -->
# if config.DEVELOPMENT
  <script src="http://{{request.host.split(':')[0]}}:35729/livereload.js"></script>
  <!-- ext:js -->
  <script src="/p/build/ext/spinjs/spin.js"></script>
  <script src="/p/build/ext/ladda/dist/ladda.min.js"></script>
  <script src="/p/build/ext/angular/angular.js"></script>
  <script src="/p/build/ext/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/p/build/ext/angular-route/angular-route.js"></script>
  <script src="/p/build/ext/angular-bootstrap-show-errors/src/showErrors.js"></script>
  <script src="/p/build/ext/angular-ladda/dist/angular-ladda.min.js"></script>
  <script src="/p/build/ext/moment/moment.js"></script>
  <!-- endinject -->
  <!-- script:js -->
  <script src="/p/build/script/app/app.js"></script>
  <script src="/p/build/script/app/shared/header/header.js"></script>
  <script src="/p/build/script/app/shared/footer/footer.js"></script>
  <script src="/p/build/script/app/components/welcome/welcome_ctrl.js"></script>
  <script src="/p/build/script/app/components/feedback/feedback_ctrl.js"></script>
  <script src="/p/build/script/app/components/auth/auth_ctrl.js"></script>
  <script src="/p/build/script/app/templates.js"></script>
  <!-- endinject -->
# else
  <script src="/p/min/script/ext.js?{{config.CURRENT_VERSION_ID}}"></script>
  <script src="/p/min/script/script.js?{{config.CURRENT_VERSION_ID}}"></script>
# endif
