# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils


# block content
  <div class="page-header">
    <div class="pull-right">
      <a class="btn btn-default" href="{{url_for('run_update')}}" title="Add Run">
        <fa class="fa fa-plus fa-fw"></fa>
      </a>
      <a class="btn btn-primary" href="{{url_for('run_update', run_id=run_db.key.id())}}">
        <fa class="fa fa-fw fa-pencil"></fa> Edit
      </a>
    </div>
    <h1>
      {{utils.back_link('Back', 'run_list')}}
      {{title}}
    </h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <th class="text-nowrap col-xs-1">Name</th>
            <td class="col-xs-11">{{run_db.name}}</td>
          </tr>
          <tr>
            <th class="text-nowrap col-xs-1">Operating System</th>
            <td class="col-xs-11">{{run_db.run_os}}</td>
          </tr>
          <tr>
            <th class="text-nowrap col-xs-1">Type</th>
            <td class="col-xs-11">{{run_db.run_type}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
# endblock
