# extends 'base.html'
# import 'macro/utils.html' as utils

# block head
  {{utils.prefetch_link(next_url)}}
# endblock

# block content
  <div class="page-header">
    <a class="pull-right btn btn-primary" href="{{url_for('run_update')}}">
      <fa class="fa fa-plus fa-fw"></fa> Add Run
    </a>
    <h1>{{title}}</h1>
  </div>
  <div class="table-responsive {{'hide' if not run_dbs|count}}">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr class="text-nowrap">
          <th class="col-xs-1">{{utils.order_by_link('name', 'Name')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('run_os', 'Operating System')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('run_type', 'Type')}}</th>
        </tr>
      </thead>
      <tbody>
        # for run_db in run_dbs
          <tr class="row-link" id="{{run_db.key.urlsafe()}}" data-href="{{url_for('run_view', run_id=run_db.key.id())}}">
            <td>{{run_db.name}}</td>
            <td>{{run_db.run_os}}</td>
            <td>{{run_db.run_type}}</td>
          </tr>
        # endfor
      </tbody>
    </table>
  </div>

  {{utils.next_link(next_url)}}
# endblock
