
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a ng-click="panel.isAnalyticsCollapsed = !panel.isAnalyticsCollapsed">Google Analytics</a>
      <span class="fa fa-check pull-right" ng-show="{{config.configDB.analytics_id}}"></span>
    </h4>
  </div>

  <div class="panel-body" uib-collapse="panel.isAnalyticsCollapsed">
    <div class="form-group">
      <label class="control-label" for="analytics_id">Tracking ID</label>
      <small class="text-muted">(optional)</small>
      <input ng-model="config.configDB.analytics_id" id="analytics_id" name="analytics_id" class="form-control" type="text">
    </div>

    <p class="help-block">
      Get it from
      <a href="https://www.google.com/analytics/web/" target="_blank">Google Analytics</a>
    </p>
  </div>
</div>
