<!DOCTYPE html>
<html class="{% block html_class %}{{html_class}}{% endblock %}" lang="en">
  <head>
    # include 'bit/meta.html'
    <title>
      # block title
        {{title + ' |' if title}}
      # endblock
      {{config.CONFIG_DB.brand_name}}
    </title>
    # include 'bit/style.html'
    <!-- TODO: Block head might not be needed. -->
    # block head
    # endblock
    # include 'bit/analytics.html'
    <base href="/">
  </head>

  <body ng-app="app">
    <app-header></app-header>
    <div ng-view></div>
    <app-footer></app-footer>
    {{flask_util_js.js}}
    # include 'bit/script.html'
  </body>
</html>
